# ======================
# Node (React)
# ======================
node_modules/
build/
dist/

# ======================
# Java (Spring Boot)
# ======================
target/
*.log

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment
# ======================
.env